<main ls-navigation-section>
<app-landingsection ls-navigation-section id="main-landing"></app-landingsection>



<app-servicesection ls-navigation-section id="main-service"></app-servicesection>

<div ls-navigation-section id="main-blabal">
  <h2>bla bal</h2>
<p>bal bal</p>
<p>bal bal</p>
<p>bal bal</p>
<p>bal bal</p>
<p>bal bal</p>
</div>

<p>
  mainpage works!
</p>
<ngbd-carousel-basic></ngbd-carousel-basic>


<div ls-navigation-section id="main-oepis">
  <h2>No öppis</h2>
  <p>bal bal</p>
  <p>bal bal</p>
  <p>bal bal</p>
  <p>bal bal</p>
  <p>bal bal</p>
  </div>
</main>

