
<h2 ls-navigation-section >Detail Section 1</h2>
<p>detailpage works!11</p>
<p>detailpage works!12</p>
<p>detailpage works!13</p>
<p>detailpage works!14</p>
<p>detailpage works!15</p>
<p>detailpage works!16</p>
<p>detailpage works!17</p>
<p>detailpage works!18</p>
<h2 ls-navigation-section id="detail2">Detail Section 2</h2>
<p>detailpage works!21</p>
<p>detailpage works!22</p>
<p>detailpage works!23</p>
<p>detailpage works!24</p>
<p>detailpage works!25</p>
<p>detailpage works!26</p>
<p>detailpage works!27</p>
<p>detailpage works!28</p>